body {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
}

.grid_header {
  width: 100vw;
  height: 60px;
  border-bottom: 1px solid rgb(240, 240, 240);
}

.grid_body {
  width: 100vw;
  height: calc(100vh - 60px);

}

.non-draggable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}