body {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
}

.font_outfit {
  font-family: "Outfit", sans-serif;
}

.non-draggable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.centered_container {
  width: 100vw;
  height: 100vh;
  display : flex;
  justify-content : center;
  align-items : center;
}

.navbar_divider {
  border-bottom: 1px solid rgb(240, 240, 240);
}

.offcanvas{
  width:250px !important;
}

.offcanvas_button {
  --bs-btn-padding-y: .75rem;
  --bs-btn-padding-x: 1.0rem;
  --bs-btn-font-size: 1.0rem;
}