body {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
}

.centered_container {
  width: 100vw;
  height: 100vh;
  display : flex;
  justify-content : center;
  align-items : center;
}

.navbar_options {
  border-bottom: 1px solid rgb(240, 240, 240);
}

.non-draggable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}